.p-Home.TextBox9{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox1{
    cursor: pointer;
    font-weight: bold;
}
.p-Home.TextBox9{
    font-weight:bold;
}
.p-Home.TextBox10{
    font-weight:bold;
}
.p-Home.TextBox11{
    font-weight:bold;
}
.accordion{
    background-color: black;
    color:white;
}
.accordion:hover{
    background-color: black;
    color:white;
}
.p-Home.TextBox46{
    font-weight: bold;
}
.p-Home.TextBox49{
    font-weight: bold;
}
.p-Home.TextBox53{
    font-weight: bold;
}
.p-Home.TextBox39{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.TextBox45{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.TextBox48{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.TextBox52{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.TextBox55{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.TextBox79{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.TextBox101{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.TextBox111{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.TextBox82{
    font-weight: bold;
}
.p-Home.TextBox105{
    font-weight: bold;
}
.p-Home.TextBox106{
    font-weight: bold;
}
.p-Home.TextBox107{
    font-weight: bold;
}
.p-Home.TextBox108{
    font-weight: bold;
}
.p-Home.TextBox109{
    font-weight: bold;
}
.p-Home.TextBox130{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.p-Home.Button1{
    background-color: black;
}
.p-Home.Button2{
    background-color: black;
}
.p-Home.Button3{
    background-color: black;
}
.p-Home.Button1:hover{
    transform:scale(1.2);
    transition: ease-out;
}
.p-Home.Button2:hover{
    transform:scale(1.2);
    transition: ease-out;
}
.p-Home.Button3:hover{
    transform:scale(1.2);
    transition: ease-out;
}